@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	box-sizing: inherit;
}

body{
	height: 100%;
}

.navimenu{
	background-color: white;
	overflow: hidden;
}
.navimenu a{
	float: right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navimenu a:hover{
	background-color: white;
	color: red;
	text-decoration: underline;
}

.navimenu a.active{
	background-color: white;
	color: red;
}

.container{
	margin: auto;
	max-width: 1300px;
	flex-grow: 1;
	padding: 100px;
}
.center.container.column{
	justify-content: center;
}

.profilePictureheader{
	text-align: center;
	font-size: 2em;
	font-weight: 900;
	line-height: 0.5em;
}
.subtitle{
	text-align: center;
	font-size: .6em;
	font-weight: 100;
	line-height: 0em;
}

.profilePicture{
	width: 261px;
	height: 273.4px;
	margin-left: 400px;
	padding-bottom: 18%;
}

.aboutmeContainer{
	background-color: black;
	color: white;
}

.aboutmeCenter{
	display: flex;
	justify-content: center;
	padding-top: 10%;
	padding-bottom: 42%;
}

.aboutmeText{
	display: block;
	font-size: medium;
	text-align: center;
}

.aboutmeTextHeading{
	font-size: 25px;
}

.aboutmeTextSubheading{
	font-size: 15px;
	padding-left: 10%;
	padding-right: 10%;
}

.qualifications{
	text-align: center !important;
	margin-top: -12rem;
} 

.qualificationscenterColumn{
	position: relative;
	width: auto;
	margin: 0 auto;
	flex-grow: 1;
	max-width: 1400px;
	border: 100px white;
}

.qualificationscenterColumnbox{
	background-color: white;
	position: relative;
	color: black;
	box-shadow: 2px;
	box-sizing: inherit;
	display: block;
	border-radius: 30px;
	box-shadow: 0 5px 50px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px white;
}

.qualificationscenterColumnbox #heading{
	padding-top: 2em;
	letter-spacing: 5px;
	font-size: 50px;
}

.qcentercolumn.left{
	font-size: large;
	position: relative;
	width: 700px;
	height: auto;
	padding-bottom: 50px;
	border-right: 1px solid grey;
}

.qcentercolumn.left #text{
	text-align:center;
	padding-top: 100px;
	padding-left: 200px;
	padding-right: 200px;
	font: 300;
}

.qcentercolumn.left #text2{
	text-align:center;
	padding-top: 100px;
	padding-left: 200px;
	padding-right: 200px;
}

.qcentercolumn.left.a h1{
	font-weight: lighter;
	text-decoration: underline;
	font-size: 230%;
}

.qcentercolumn.right{
	font-size: large;
	position: relative;
	top: 0;
	left: 0;
	width: 700px;
	height: auto;
	padding-bottom: 50px;
	float: right;
	margin-top: -284px;
}

.qcentercolumn.right #text{
	text-align:center;
	padding-top: 100px;
	padding-left: 200px;
	padding-right: 200px;
	font: 300;
}

.qcentercolumn.right #text2{
	text-align:center;
	padding-top: 100px;
	padding-left: 200px;
	padding-right: 200px;
}

.qcentercolumn.right.a h1{
	font-weight: lighter;
	text-decoration: underline;
	font-size: 230%;
}

.projects{
	background-color: black;
	color: white;
	padding-top: 20%;
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 20%;
	text-align: center;
	margin-top: -10rem;
}

.projects #text{
	font-size: 80px;
	letter-spacing: 5px;
}